################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineBussen/.vs/OnlineBussen/FileContentIndex/2b8279aa-d2e9-43ca-adc9-a9cdcdbf06bf.vsidx
