################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineBussen/.vs/OnlineBussen/FileContentIndex/85cf7c0b-093e-4a06-9562-86e86a7cd174.vsidx
/OnlineBussen/.vs/OnlineBussen/FileContentIndex/d9219324-ad6c-42f4-b58c-eb7923631c66.vsidx
/OnlineBussen/.vs/OnlineBussen/FileContentIndex/742aa19b-55f3-4dd9-a16f-5eeb79eb338b.vsidx
/OnlineBussen/.vs/OnlineBussen/FileContentIndex
