@page
@model OnlineBussen.Pages.Account.AccountModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link rel="stylesheet" href="~/css/AccountPage.css">
</head>
<body>
    <div class="sidebar">
        <div class="profile-section">
            <img src="~/css/Sjors.jpg" alt="Profile Icon" class="profile-img">
            <p>@Model.CurrentUser</p>
        </div>
        <nav>
            <ul>
                <li class="AccountText"><button class="AccountButton" onclick="window.location.href='/Account/Account';">Account</button></li>
                <li class="LobbyText"><button class="LobbyButton" onclick="window.location.href='/Lobby/Lobby';">Lobbys</button></li>
                <li class="SettingsText"><button class="SettingsButton" onclick="window.location.href='/Settings/Settings';">Settings</button></li>
            </ul>
        </nav>
        <button class="logout" onclick="window.location.href='/Index';">Logout</button>
    </div>

    <div class="content">
        <h1>Account</h1>
        <div class="profile">
            <img src="~/css/Sjors.jpg" alt="User Avatar" class="profile-large">
            <p class="username">Username</p>
            <button class="change-name">Change Name</button>
        </div>
    </div>
</body>
</html>