@page
@model OnlineBussen.Pages.Account.AccountModel
@{
    Layout = "_Layout";
}

<div class="flex-1 p-8 min-h-screen bg-[#5A1E1E] flex flex-col justify-center items-center font-irish">
    <h1 class="text-4xl text-bus-gold mb-8">Account</h1>

    <div class="flex flex-col items-center">
        <img src="~/css/Sjors.jpg" alt="" class="w-32 h-32 rounded-full mb-4">
        <span class="text-xl text-bus-gold mb-4">@ViewData["Username"]</span>
        <button class="px-6 py-2 bg-bus-gold text-bus-dark rounded-full hover:bg-opacity-90 transition-all">
            Change Name
        </button>
    </div>
</div>
